<form action="/streetlights" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">
  <label for="">Era:</label>
  <input type="text" name="era">
  <label for="">Image:</label>
  <input type="url" name="image">

  <button>Create Street Light</button>
</form>