<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Information</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
    <div class="access">
  
<%= yield %> 

  </div>
</body>
</html>