<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Information</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">

  <nav>
    <a href="views/home.erb">Home</a>
  </nav>
  
<%= yield %> 

    <footer>
      &copy; Copyright Toby 2015 -- Ayyyyye 
    </footer>

  </div>
</body>
</html>