<h2>New Ocean</h2>
<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]"></p>
  <p>Image: <input type="url" name="ocean[image]"></p>
  <p>Orbit: <input type="text" name="ocean[orbit]"></p>
  <p>Diameter: <input type="text" name="ocean[diameter]"></p>
  <p>Mass: <input type="text" name="ocean[mass]"></p>
  <p>Moons: <input type="number" name="ocean[moons]"></p>
  <button>Create Ocean</button>
</form>