<h2>New Ocean</h2>
<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]"></p>
  <p>Image: <input type="url" name="ocean[image]"></p>
  <p>Mass: <input type="text" name="ocean[mass]"></p>
  <p>Depth: <input type="text" name="ocean[depth]"></p>
  <p>Fact: <input type="text" name="ocean[fact]"></p>
  <button>Create Ocean</button>
</form>