<!DOCTYPE html>
<html>
<head>
  <title>Oceans n Shit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="/oceans">All Oceans</a>
  <a href="/oceans/new">New Oceans</a>
</nav>
<%= yield %>

</body>
</html>
